#wrapper{
   width:100%;
   min-width:1020px;
   height:auto;
   margin:25px;
}
#left_column{
   float:left;
   width:600px;
   padding: 5px;
}
#right_column{
   /*float:right;*/
   overflow: hidden;
   min-width:420px;
   height:auto;
   padding: 5px;
}
